#cuerpo{
    background-color: #00a78e;
    height:80px;
}

#ap{
    float:left;
    width: 200px;
    margin-top: -15px;
}

#p{
    float:left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

#linke, #face, #insta, #git{
    float: right;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


button{
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

